:root {
  --white: hsl(0, 0%, 100%);
  --text: hsl(228, 12%, 48%);
  --pale: hsl(32, 37%, 92%);
  --header-text: hsl(212, 21%, 14%);
  --background: #0f0e17;
  --headline: #fffffe;
  --paragraph: #a7a9be;
  --button: #ff8906;
  --button-text: #fffffe;
  --main-background: #191a1d;
  --seconday: #f25f4c;
  --fonts: rgb(100, 245, 233);
  --seconday-header: rgb(56, 49, 222);
  --header2-h2: cadetblue;
  --header1-h1: #57d6c2;
  --socialmedia: rgb(11, 146, 213);

}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(images/background-1.jpg);
  background-size: cover;
  background-color: var(--main-background);
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 18px;
}

.large-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: 5px solid var(--text);
  margin-top: 5px;
}

h2 {
  text-align: center;
  font-family: "Roboto Mono";
  color: var(--header1-h1);
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;
  background-color: grey;
  opacity: 0.8;
  border-radius: 8px;
}

label {
  display: block;
  margin: 0.5rem 0;
}

legend {
  padding-top: 8px;
}


fieldset {
  border: none;
  /*padding: 2rem 0;*/
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

input,
textarea,
select {
  display: flex;
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  font-size: 16px;
  border-radius: 5px;
}

input, textarea {
  background-color: #ffffff;
  border: 1px solid #0a0a23;
  color: #0a0a23;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: top;
}

.submit {
  background-color: #3b3b4f;
  color: white;
  opacity: 1;
}


/*h1 {
  text-align: center;
  margin: 35px 0 20px 0 !important;
}
*/
